/* start variables */
:root{
    --main-color: #2196f3;
}
/* end variables */
/* start global rules */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* end global rules */

/* start header */
.header{
    box-shadow: rgba(0, 0, 0, 0.128) 0 0 10px 3px;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.header .container .logo h1{
    font-size: 25px;
    color: var(--main-color);
    padding: 15px 0;
}
.header .container .links{
    display: flex;
}
.header .container .links li{
    padding: 20px 30px;
    position: relative;
}
.header .container .links li::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 4px;
    width: 0px;
    background-color: var(--main-color);
    transition: 0.3s;
}
.header .container .links li:hover::before{
    width: 100%;
}
.header .container .links li:hover a,
.header .container .links li:hover{
    color: var(--main-color);
    cursor: pointer;
    background-color: #f5f2f2;
}
.header .container .links li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: 0.3s;
}
.nav-extention{
    position: relative;
    justify-content: space-between;
    height: 375px;
    background-color: rgb(235, 226, 226);
    border-bottom: var(--main-color) 3px solid;
    top: 40px;
    display: none;
}
.nav-extention ul{
    height: 90%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 30px;
    color: var(--main-color);
}
.nav-extention ul li{
    padding: 10px 10px;
    margin-left: 40px;
    border-bottom: rgb(233, 226, 226) 1px solid;
}
.nav-extention ul li a{
    color: var(--main-color);
    margin-left: 15px;
    font-weight: 700;
    font-size: 18px;
}
.nav-extention ul li i{
    font-size: 18px;
}
.nav-extention img.left{
    padding-top: 40px;
    width: 45%;
    height: 90%;
}
.header .container .links li:last-child:hover div.nav-extention{
    display: flex;
}
/* end header */