/* start variables */
:root{
    --main-color: #2196f3;
    --secondary-color: #1787e0;
    --section-padding: 100px;
}
/* end variables */
/* start global rules */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*start animation */

.main-title{
    position: relative;
    padding: 0 20px;
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto 80px;
    font-size: 30px;
    text-transform: uppercase;
    z-index: 2;
}
.main-title:hover{
    transition: 0.5s;
    transition-delay: .1s;
    color: white;
}
.main-title::before{
    position: absolute;
    content: "";
    left: -30px;
    top: 50%;
    transform: translatey(-50%);
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
}
.main-title::after{
    position: absolute;
    content: "";
    right: -30px;
    top: 50%;
    transform: translatey(-50%);
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
}
.main-title:hover::before{
    transform: translatey(-50.5%) rotatey(180deg);
    transform-origin: left;
    animation: left-move 1s forwards;
    animation-timing-function: ease-in;
}
.main-title:hover::after{
    transform: translatey(-50.5%) rotatey(180deg);
    transform-origin: right;
    animation: right-move 1s  forwards ;
    animation-timing-function: ease-in;
}
@keyframes left-move {
    50%{
        top: 85%;
    }
    70%{
        top: 50%;
        left: 100%;
        width: 12px;
        height: 12px;
    }
    92%{
        border-radius: 50%;
    }
    100%{
        left: 100%;
        border-radius: 0;
        width: 51%;
        height: 101%;
    }
}
@keyframes right-move {
    50%{
        top: 15%;
    }
    70%{
        top: 50%;
        right: 100%;
        width: 12px;
        height: 12px;
    }
    92%{
        border-radius: 50%;
    }
    100%{
        right: 101%;
        border-radius: 0;
        width: 51%;
        height: 101%;
    }
}

/*end animation */
/* end global rules */

/* start header */
.header{
    box-shadow: rgba(0, 0, 0, 0.128) 0 0 10px 3px;
    background-color: white;
}
.header > .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header .container .logo{
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container .logo h1{
    font-size: 25px;
    color: var(--main-color);
    padding: 15px 0;
}
.header .container .links{
    display: flex;
}
.header .container .links > li{
    padding: 20px 30px;
    position: relative;
}
.header .container .links > li::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 4px;
    width: 0px;
    background-color: var(--main-color);
    transition: 0.4s;
}
.header .container .links li:hover::before{
    width: 100%;
}
.header .container .links li:hover a,
.header .container .links li:hover{
    color: var(--main-color);
    cursor: pointer;
    background-color: #f5f2f2;
}
.header .container .links li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: 0.3s;
}
.nav-extention{
    display: flex;
    position: absolute;
    justify-content: space-between;
    height: 375px;
    background-color: rgb(255, 255, 255);
    border-bottom: var(--main-color) 3px solid;
    z-index: -1;
    opacity: 0;
    right: 50%;
    top: 120px;
    transform: translatex(50%) ;
    transition: 0.3s;
}
.nav-extention ul{
    height: 90%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 30px;
    color: var(--main-color);
}
.nav-extention ul li{
    padding: 10px 10px;
    margin-left: 40px;
    border-bottom: rgb(233, 226, 226) 1px solid;
}
.nav-extention ul li a{
    color: var(--main-color);
    margin-left: 15px;
    font-weight: 700;
    font-size: 18px;
}
.nav-extention ul li i{
    font-size: 18px;
}
.nav-extention img.left{
    padding-top: 40px;
    width: 45%;
    height: 90%;
}
.header .container .links .other-links:hover + .nav-extention{
    display: flex;
    top:78px;
    opacity: 1;
    z-index: 100;
}
@media(max-width: 767px){
    .header .container .logo{
        width: 100%;
        height: 50px;
    }
    .header .container .links{
        margin: auto;
    }
    .header .container .links > li{
        padding: 10px 10px;
    }
    .header .container .links > li > a {
        font-size: 14px;
        font-weight: 600;
    }
    .nav-extention{
        width: 100%;
        height: fit-content;
        justify-content: center;
    }
    .nav-extention img.left{
        display: none;
    }
    .nav-extention ul{
        padding-top: 0;
        align-content: center;
        width: 100%;
    }
    .header .container .links .other-links:hover + .nav-extention{
        top: 100px;
    }
}
@media(max-width: 991px){
    .nav-extention ul li{
        margin-left: 0;
    }
}
/* end header */
/* start landing */
.landing{
    position: relative;
}
.landing::before{
    position: absolute;
    content: "";
    top: -35px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e7e5e5;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;

}
.landing .container{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 77px);
    padding-bottom: 140px;
}
.landing .container img{
    position: relative;
    height: 380px;
    animation: up-and-down linear 5s infinite;
}
@keyframes up-and-down {
    0%{
        bottom: 0;
    }
    50%{
        bottom: 50px;
    }
    100%{
        bottom: 0;
    }
}
.landing .container .text{
    
}
.landing .container .text h1{
    font-weight: 700;
    font-size: 38px;
}
.landing .container .text p{
    font-size: 24px;
    color: rgb(112, 114, 114);
}
@media(max-width: 991px){
    .landing .container img{
        display: none;
    }
    .landing .container .text{
        text-align: center;
    }
}
@media(max-width: 767px){
    .landing .container .text h1{
        font-size: 28px;
    }
    .landing .container .text p{
        font-size: 18px;
    }
}
.landing a{
    position: absolute;
    text-align: center;
    color: var(--main-color);
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
}
.landing a:hover{
    color: var(--secondary-color);
}
.landing a i{
    animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%,70%{
        transform: translateY(-15px);
    }
}
/* end landing */

/* start articles */
.articles{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}
.articles .container .article{
    transition: 0.3s;
}
.articles .container .article:hover{
    box-shadow: 0px 2px 10px 0 #c9bdbd;
    transform: translateY(-10px);
}
.articles .container .article img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.articles .container .article .content{
    padding: 12px 0 12px 20px;
    border-bottom: solid 1px rgb(228, 220, 220);
}
.articles .container .article .content h3{
    margin-bottom: 5px;
}
.articles .container .article .content p{
    color: #777;
    line-height: 1.6;
}
.articles .container .article .info{
    padding: 15px 0 15px 20px;
    position: relative;
}
.articles .container .article a{
    font-weight: 700;
    color: var(--main-color);
}
.articles .container .article i{
    color: var(--secondary-color);
    font-size: 12px;
    position: absolute;
    right: 25px;
    bottom: 50%;
    transform: translatey(50%);
}
.articles .container .article:hover i{
    animation: arrow-left-move 0.5s linear infinite;
}
@keyframes arrow-left-move{
    100%{
        right: 15px;
}
}
/* end articles */
/* start gallary */
.gallary{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f0e9e9;
}
.gallary .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 65px;
}
.gallary .container .image-box{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    box-shadow: 0px 4px 10px rgb(226, 190, 190);
    padding: 15px;
}
.gallary .container .image-box .image{
    position: relative;
    width: fit-content;
    overflow: hidden;
    height: 100%;
}
.gallary .container .image-box .image img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.gallary .container .image-box .image::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff2c;
    width: 0;
    height: 0;
    transition: 0.3s;
    opacity: 0;
    z-index: 1;
}
.gallary .container .image-box .image:hover::before{
    animation: flashing 0.7s;
}
@keyframes flashing {
    40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
.gallary .container .image-box .image:hover img{
    transform: scale(1.1) rotate(5deg);
}
/* end gallary */
/* start features */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    gap: 40px;
    text-align: center;
}
/* red */
.features .container .red-feature{
    width: 100%;
    border: 1px solid #f43f363f;
}
.features .container .red-feature .image{
position: relative;
overflow: hidden;
}
.features .container .red-feature .image::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 97.5%;
    background-color: #f43f3694;
}
.features .container .red-feature .image::after{
    position: absolute;
    content: "";
    right: -40px;
    bottom: 0;
    border-style:solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 190px 559px;
    transition: 0.3s;
}
.features .container .red-feature:hover .image::after{
    border-width: 170px 500px 170px 0;
}
.features .container .red-feature .image img{
    width: 100%;
    height: 100%;
}
.features .container .red-feature .content{
    margin-bottom: 50px;
}
.features .container .red-feature .content h3{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    margin-top: -22px;
    display: inline-block;
}
.features .container .red-feature .content h3::after{
    position: absolute;
    content: "";
    left: 50%;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #f44036;
    transform: translateX(-50%);
}
.features .container .red-feature .content p{
    padding: 0 20px 0 20px;
    line-height: 2;
    font-size: 20px;
    color: #777;
    margin-top: 38px;
}
.features .container .red-feature a{
    position: relative;
    display: inline-block;
    padding: 2px 29px 2px 29px;
    border: 3px solid #f44036;
    color: #f44036;
    font-size: 22px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: 0.3s;
}
.features .container .red-feature:hover a{
    color: white;
}
.features .container .red-feature a::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #f44036;
    transition: 0.3s;
    z-index: -1;
}
.features .container .red-feature:hover a::before{
    width: 100%;
    height: 100%;
}
/* green */
.features .container .green-feature{
    width: 100%;
    border: 1px solid #00968767;
}
.features .container .green-feature .image{
position: relative;
overflow: hidden;
}
.features .container .green-feature .image::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 97.5%;
    background-color: #00968793;
}
.features .container .green-feature .image::after{
    position: absolute;
    content: "";
    right: -40px;
    bottom: 0;
    border-style:solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 190px 559px;
    transition: 0.3s;
}
.features .container .green-feature:hover .image::after{
    border-width: 170px 500px 170px 0;
}
.features .container .green-feature .image img{
    width: 100%;
    height: 100%;
}
.features .container .green-feature .content{
    margin-bottom: 50px;
}
.features .container .green-feature .content h3{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    margin-top: -22px;
    display: inline-block;
}
.features .container .green-feature .content h3::after{
    position: absolute;
    content: "";
    left: 50%;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #009688;
    transform: translateX(-50%);
}
.features .container .green-feature .content p{
    padding: 0 20px 0 20px;
    line-height: 2;
    font-size: 20px;
    color: #777;
    margin-top: 38px;
}
.features .container .green-feature a{
    position: relative;
    display: inline-block;
    padding: 2px 29px 2px 29px;
    border: 3px solid #009688;
    color: #009688;
    font-size: 22px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: 0.3s;
}
.features .container .green-feature:hover a{
    color: white;
}
.features .container .green-feature a::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #009688;
    transition: 0.3s;
    z-index: -1;
}
.features .container .green-feature:hover a::before{
    width: 100%;
    height: 100%;
}
/* blue */
.features .container .blue-feature{
    width: 100%;
    border: 1px solid #03a8f46b;
}
.features .container .blue-feature .image{
position: relative;
overflow: hidden;
}
.features .container .blue-feature .image::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 97.5%;
    background-color: #03a8f49a;
}
.features .container .blue-feature .image::after{
    position: absolute;
    content: "";
    right: -40px;
    bottom: 0;
    border-style:solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 190px 559px;
    transition: 0.3s;
}
.features .container .blue-feature:hover .image::after{
    border-width: 170px 500px 170px 0;
}
.features .container .blue-feature .image img{
    width: 100%;
    height: 100%;
}
.features .container .blue-feature .content{
    margin-bottom: 50px;
}
.features .container .blue-feature .content h3{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    margin-top: -22px;
    display: inline-block;
}
.features .container .blue-feature .content h3::after{
    position: absolute;
    content: "";
    left: 50%;
    bottom: -5px;
    width: 75%;
    height: 5px;
    background-color: #03a9f4;
    transform: translateX(-50%);
}
.features .container .blue-feature .content p{
    padding: 0 20px 0 20px;
    line-height: 2;
    font-size: 20px;
    color: #777;
    margin-top: 38px;
}
.features .container .blue-feature a{
    position: relative;
    display: inline-block;
    padding: 2px 29px 2px 29px;
    border: 3px solid #03a9f4;
    color: #03a9f4;
    font-size: 22px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: 0.3s;
}
.features .container .blue-feature:hover a{
    color: white;
}
.features .container .blue-feature a::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #03a9f4;
    transition: 0.3s;
    z-index: -1;
}
.features .container .blue-feature:hover a::before{
    width: 100%;
    height: 100%;
}
/* end features */